body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e5dbff;
}

.App {
  text-align: center;
}

div.FileUpload {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  justify-content: center;
} div.FileUpload:hover {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 2px grey;
    background-color: #d0bfff;
}

